@import url(http://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(http://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before
{
	 font-family: 'entypo', sans-serif;
}

section #services
{
  text-align: center;
  transform: translatez(0);
}

section #services li
{
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}

section #services li div
{
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #000000;
  transition: all 0.5s ease;
}

section #services li div:hover
{
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span
{
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #000000;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}
body 
{ 
background-color: #F0F8FF;
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size: 14px; 
font-weight: normal; 
line-height: 1.1em; 
background-image: url("img/mech.jpg");
}
img 
{ 
border: 1px solid #021a40; 
margin: 3px; 
float : right;
}
#wrapper
{
margin-left: auto; 
margin-right: auto; 
width: 920px; 
}
#main 
{ 
min-height: 500px; 
border-bottom: 1px #021a40;
margin-right: 15px; 
padding-bottom: 20px; 
color:#000000;
}
#contents
{ 
margin-left: 200px; 
padding-top: 30px; 
line-height: 1.5; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#nav 
{ 
font-weight: normal; 
font-size: 16px; 
padding-left: 20px; 
float: left; 
}
h1 
{ 

text-align: center; 
font-weight: bold; 
margin-top: 20px; 
padding-top: 0px; 
letter-spacing: 0.3em; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h2 
{ 
font-size: 16px; 
font-weight: bold; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
border-bottom: 1px solid #000000; 
}
#nav ul 
{ 
padding: 1px; 
list-style-type: round; 
}
#nav li 
{ 
line-height: 4.5 
}