body 
{ 
background-color: #F0F8FF;
font-family: "Comic Sans MS", "Comic Sans", cursive;
font-size: 14px; 
font-weight: normal; 
line-height: 1.1em; 
background-image: url("img/mech.jpg");
}
img 
{ 
border: 1px solid #021a40; 
margin: 3px; 
float : right;
}
#wrapper
{
margin-left: auto; 
margin-right: auto; 
width: 920px; 
}
#main 
{ 
min-height: 500px; 
border-bottom: 1px #021a40;
margin-right: 15px; 
padding-bottom: 20px; 
color:#000000;
}
#contents
{ 
margin-left: 200px; 
padding-top: 30px; 
line-height: 1.5; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#nav 
{ 
font-weight: normal; 
font-size: 16px; 
padding-left: 20px; 
float: left; 
}
h1 
{ 

text-align: center; 
font-weight: bold; 
margin-top: 20px; 
padding-top: 0px; 
letter-spacing: 0.3em; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h2 
{ 
font-size: 16px; 
font-weight: bold; 
font-family: "Comic Sans MS", "Comic Sans", cursive;
border-bottom: 1px solid #000000; 
}
#nav ul 
{ 
padding: 1px; 
list-style-type: round; 
}
#nav li 
{ 
line-height: 4.5 
}
.bigListFont 
{
font-size:15px;
}
div#social
{
	position: fixed;
	top: 35%;
	left: 0;
	padding: 10px 10px 10px 5px;
	background-color: rgba(0, 0, 0, 0.5);
	-moz-border-radius: 0 11px 11px 0;
	border-radius: 0 11px 11px 0;
	font-size: 0px;
}

a.socialButton
{
	position: center;
	display: block;
	margin-bottom: 5px;
	text-decoration: none;
}

a.socialButton:last-child
{
	margin: 0;
}

a.socialButton span 
{
	display: none;
	padding: 10px;
	-moz-border-radius: 11px;
	border-radius: 11px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	font-size: 12px;
}

a.socialButton:hover span
{
	display: block;
	position: absolute;
	top: -5px;
	left: 40px;
}

span#email
{
	min-width: 105px;
}

span#download {
	min-width: 121px;
}

@media print
{

	body 
	{
		background: #fff;
	}

	div#page
	{
		-moz-border-radius: 0;
		border-radius: 0;
		-moz-box-shadow: none;
		box-shadow: none;
		border: 1px solid #333;
	}

	img#photo
	{
		padding: 6px;
		border: 1px solid #333;
		-moz-border-radius: 0;
		border-radius: 0;
		background-color: transparent;
	}

	div#social
	{
		display: none;
	}
}

.social-buttons {
  height: 90px;
  margin: auto;
  font-size: 0;
  text-align: center;
  position: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.social-button {
  display: inline-block;
  background-color: #fff;
  width: 90px;
  height: 90px;
  line-height: 90px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  opacity: .99;
  border-radius: 28%;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button:before {
  content: '';
  background-color: #000;
  width: 120%;
  height: 120%;
  position: absolute;
  top: 90%;
  left: -110%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button .fa {
  font-size: 38px;
  vertical-align: middle;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
  transition: all 0.35s cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-button.facebook:before {
  background-color: #3B5998;
}
.social-button.facebook .fa {
  color: #3B5998;
}
.social-button.twitter:before {
  background-color: #3CF;
}
.social-button.twitter .fa {
  color: #3CF;
}
.social-button.google:before {
  background-color: #DC4A38;
}
.social-button.google .fa {
  color: #DC4A38;
}
.social-button.dribbble:before {
  background-color: #F26798;
}
.social-button.dribbble .fa {
  color: #F26798;
}
.social-button.skype:before {
  background-color: #00AFF0;
}
.social-button.skype .fa {
  color: #00AFF0;
}
.social-button:focus:before, .social-button:hover:before {
  top: -10%;
  left: -10%;
}
.social-button:focus .fa, .social-button:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}